@model EmptyMVC.Views.Home.AnswerModel
<!DOCTYPE html>
<html>
<head>
    <title>Ответ на запрос</title>
    <meta charset="utf-8" />
</head>
<body>
    <h2>@{
            string str = $"VkId: {Model.VkId}";
        }@str</h2>
    <h2>@Model.ProcessType</h2>
    <h2>@Model.ComVkId</h2>
    @foreach (var group in Model.GroupsArr) {
        <h3>@group</h3>
    }
</body>
</html>
 