@model EmptyMVC.Views.Home.RequestModel
<!DOCTYPE html>
<html>
<head>
    <title>Ответ на запрос</title>
    <meta charset="utf-8" />
</head>
<body>
    <form method='post'>
        <label>Your Vk Id:</label><br />
        <input name='VkId' /><br />
        <label>Process Type:</label><br />
        <input name='ProcessType' /><br />
        <label>ComVkId:</label><br />
        <input name='ComVkId' /><br />
        <input type='submit' value='Send' >
    </form>
</body>
</html>
